<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products result</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <h1>Product data:</h1>
    <div class="prettify" id="textify">
      <p>Name: <%= products.firstname %></p>
      <p>Model: <%= products.model %></p>
      <p>Type: <%= products.type %></p>
      <p>Price: <%= products.price %></p>

    </div>
    <a href="/"><button>Menu</button></a>
  </body>
</html>
